# Environments
.env
.venv/
env/
venv/
ENV/

# Graph specific
graph/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/
